<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791440875910-cslotkq09osra9ga3bv3guhu8f85p6s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791440875910-cslotkq09osra9ga3bv3guhu8f85p6s1</string>
	<key>API_KEY</key>
	<string>AIzaSyAHd9fSZKGRNtXQFL5Ubjdne9gGC5Ddu8M</string>
	<key>GCM_SENDER_ID</key>
	<string>791440875910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssg.tested.QuickstartApp</string>
	<key>PROJECT_ID</key>
	<string>quickstartapp-ba0a0</string>
	<key>STORAGE_BUCKET</key>
	<string>quickstartapp-ba0a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791440875910:ios:8f5de12e7fe7c0e6d30c07</string>
</dict>
</plist>